*
{
    margin: 0;
    padding: 0;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
h2
{
    text-align: center;
    margin: 20px;
    font-family: cursive;
}
table
{
    width: 100%;
    max-width: 800px;
    text-align: center;
    margin: 50px auto 0px auto;
}
th
{
    background-color: rgb(117, 157, 218);
    color: white;
    cursor: pointer;
    padding: 10px;
}
tr:nth-child(even)
{
    background-color: rgb(238, 233, 225);
}
tr:hover
{
    background-color: rgb(231, 221, 231);
}
